@model IEnumerable<SistemasInventarios.Models.Producto>

<h2>Lista de Productos</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Stock</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Nombre</td>
                <td>@p.Stock</td>
                <td>@p.Precio.ToString("C")</td> <!-- Muestra como moneda -->
            </tr>
        }
    </tbody>
</table>
